.is-active {
    background-color: black;
    color: #fff;
}

.button {
    background: #f8fafc;
    border: 1px solid #000;
    padding: 5px;
}

.removeAccordionPaddingBottom {
    padding-bottom: 0px;
}

.float-right {
    float: right;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-5 {
    padding-bottom: 20px;
}

.pt-6 {
    padding-top: 1.5rem;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.pb-5rem {
    margin-bottom: 5rem;
}

.firstLetter:first-letter {
    text-transform: capitalize;
}

.ListRemoveStyling {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.wordcountlist {
    margin-top: 10px;
}

#checkedText {
    min-height: 250px;
}

.h-header {
    height: 3.5rem;
    display: inline-block;
}

.gammelnavskAccordion {
    background-color: #f8fafc !important;
}

.gammelnavskAccordionContent {
    background-color: white !important;
}

.spacing-30 {
    padding-top: 30px;
}

.pagination-container {
    width: 100%;
    /*  display: flex; */
}

.pagination {
    margin-left: auto;
    margin-right: auto;
}

.w-full {
    width: 100%
}

.lengthField {
    display: inline-block !important;
    width: 60px !important;
}